Community Wpf Helpers/.vs/Sdl.CommunityWpfHelpers/v16/.suo
Community Wpf Helpers/.vs/Sdl.CommunityWpfHelpers/v16/Server/sqlite3/storage.ide
Community Wpf Helpers/Sdl.CommunityWpfHelpers.SampleApp/obj/Debug/Sdl.CommunityWpfHelpers.SampleApp.csprojAssemblyReference.cache
